body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.home-container, .order-container {
  text-align: center;
  background: #8B5DFF;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-button, .confirm-button {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.order-button:hover, .confirm-button:hover {
  background-color: #0056b3;
}

.qr-code-container, .scanner-container {
  margin-top: 20px;
}
